<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Archetype Created Web Application</display-name>
    <!--用XML方式配置servlet访问路径映射-->
    <servlet>
        <servlet-name>QueryListEmpServlet</servlet-name>
        <servlet-class>com.kobe.web.servlet.old.QueryListEmpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QueryListEmpServlet</servlet-name>
        <url-pattern>/empSelectAll</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddEmpServlet</servlet-name>
        <servlet-class>com.kobe.web.servlet.old.AddEmpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddEmpServlet</servlet-name>
        <url-pattern>/empAddOne</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>QueryByIdEmpServlet</servlet-name>
        <servlet-class>com.kobe.web.servlet.old.QueryByIdEmpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QueryByIdEmpServlet</servlet-name>
        <url-pattern>/empSelectById</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ModifyOneEmpServlet</servlet-name>
        <servlet-class>com.kobe.web.servlet.old.ModifyOneEmpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModifyOneEmpServlet</servlet-name>
        <url-pattern>/empUpdateOne</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RemoveByIdServlet</servlet-name>
        <servlet-class>com.kobe.web.servlet.old.RemoveByIdServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RemoveByIdServlet</servlet-name>
        <url-pattern>/empRemoveById</url-pattern>
    </servlet-mapping>
</web-app>
